<p id="notice"><%= notice %></p>

<p>
  <strong>Entdate:</strong>
  <%= @aream.entdate %>
</p>

<p>
  <strong>Entmcn:</strong>
  <%= @aream.entmcn %>
</p>

<p>
  <strong>Entclt:</strong>
  <%= @aream.entclt %>
</p>

<p>
  <strong>Edtdate:</strong>
  <%= @aream.edtdate %>
</p>

<p>
  <strong>Edtmcn:</strong>
  <%= @aream.edtmcn %>
</p>

<p>
  <strong>Edtclt:</strong>
  <%= @aream.edtclt %>
</p>

<p>
  <strong>AREA_CD:</strong>
  <%= @aream.area_cd %>
</p>

<p>
  <strong>AREA_J:</strong>
  <%= @aream.area_j %>
</p>

<p>
  <strong>AREA_A:</strong>
  <%= @aream.area_a %>
</p>

<p>
  <strong>AREA_K:</strong>
  <%= @aream.area_k %>
</p>

<%= link_to 'Edit', edit_aream_path(@aream) %> |
<%= link_to 'Back', areams_path %>
